extends layout

block content
    .jumbotron.jumbotron-fluid(style="background-color: rgba(236, 238, 239, 0.6);")
        .container
            h1.display-3 Free Offline Board Game
            p.lead kids should not spend all time in front of a screen - but that ain't no reason to stop playing robbie the robot!
    p You can take Robbie the Robot offline and play it with your kids in two variants. 
    up.list-unstyled
        li.media
            img.rounded.d-flex.mr-3(src="board.jpg", alt="Robbie the Robot - Board Game", style="max-width:150px;max-height:80px;")
            .media-body
                h5.mt-0 Board Game
                p Print out the board, the obstacles, actions and action sheets, and create your own offline board game
        li.media.my-2
            img.rounded.d-flex.mr-3(src="mask.jpg", alt="Robbie the Robot - Life Action Game", style="max-width:150px;max-height:80px;")
            .media-body
                h5.mt-0 Live Action
                p Play a live action game in your flat, in the garden, in a gym... 
    
    
    .card(style="background-color: rgba(255, 255, 255, 0.3); margin: 4vw;")
        .card-block
            h3.card-title Download The Free Game Instructions
            .card-text 
                p Download the game instructions for free, take out your sissors and start tinker and playing with your kids
            a(class="btn btn-info", href="Robbie the robot - Offline Game.pdf", target="_blank") 
                i.fa.fa-file-pdf-o  
                | &nbsp;&nbsp;Robbie the robot - Offline Game.pdf (953kb)
