extends layout

block content
    .jumbotron.jumbotron-fluid(style="background-color: rgba(236, 238, 239, 0.6);")
        .container
            h1.display-3 parental information
            p.lead what robbie the robot is, and why it may actually be a good idea to let your kid play this game
    img.rounded.mx-auto.d-block(src="/images/Tutorial/robbie_bubble-right.png", alt="robbie the robot", style="max-height:200px;")
    p Robbie the robot is a small, html based browser game for 3-6 year old children. Its aim is to help children develop a feeling for executing certain commands in advance before running them. 
    p I, Matthias Kainer, wrote this game for my own kids (3 and 4 at that time), to help them develop an understanding for simple pre-planning, get a first idea on the underlying priciples of programming, and help them to be familiar with the underlying concepts so they will have an easy start with more advanced learn-to-code tools like 
        a(href="https://scratch.mit.edu/", title="Scratch") Scratch.
    p This game is 
        strong free of charge (as in free beer)
        |  and there are no ad-banners, upsell features or anything that will lead to any costs. 
    hr
    p The source code of this game is open source and available under 
        a(href="https://github.com/MatthiasKainer/robbie-the-robot", title="[github] MatthiasKainer/robbie-the-robot") github.com/MatthiasKainer/robbie-the-robot
        |  and can be viewed and extended be everyone. 
    .card(style="background-color: rgba(255, 255, 255, 0.3); margin: 4vw;")
        .card-header contact me
        .card-block
            h3.card-title Feedback, bugs and complaints
            .card-text 
                p you can report bugs and issues by clicking on the following buttons
            a(class="btn btn-info", href="https://github.com/MatthiasKainer/robbie-the-robot/issues") Issue Collection
